<h2>Celebrities:</h2>
<div>
  {{#each celebrities}}
  <div class="row">
    <div class="col">
      <a href="/celebrities/{{this.id}}">{{this.name}}</a><br>
    </div>
    <div class="col">
      <a class="btn" href="/celebrities/{{this.id}}/edit">Edit</a>
    </div>
    <div class="col">
      <form action="/celebrities/{{this.id}}/delete" method="POST">
        <button class="btn btn-delete">Delete</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>
<a href="celebrities/new/add-new" class="btn">Add a new Celebrity</a>