<h2>Celebrities:</h2>
{{#each celebrities}}
<a href="/celebrities/{{this.id}}">{{this.name}}</a><br>
<a href="/celebrities/{{this.id}}/edit">Edit</a>
<form action="/celebrities/{{this.id}}/delete" method="POST">
  <button>Delete</button>
</form>
{{/each}}

<a href="celebrities/new/add-new">Add a new Celebrity</a>